.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('./image/mini12.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.todo-container {
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.todo-header {
  background-color: #007BFF;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #e0540d;
}

.todo-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
}

.todo-button {
  background-color: #12b675;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-button-delete {
  background-color: #be182e;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list {
  list-style: circle;
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

.todo-list li {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ddd; 
}

.todo-list li::before {
  content: "\2192"; 
  margin-right: 8px; 
  color: #f56c0b; 
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


.todo-text {
  margin-right: 10px; 
}